body {
  padding-top: 80px;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
}

html, body, #main-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.full-height {
  height:100%;    
  overflow-y: scroll;
}

.dcp-orange {
  background-color: #d96b27;
  border-color: #d96b27;
  color: #FFF;
}

.dcp-orange:hover, .dcp-orange:active  {
  background-color: #a5501b;
  border-color: #a5501b;
  color: #FFF;
}

/*Nav Component*/

nav {
  height: 80px;
  font-family: 'Oswald', sans-serif;
}

.navbar-default {
  background-color: #EBEBEB;
}


ul.navbar-right {
    margin-right: 0;
}

.navbar-default .navbar-nav>li>a {
  padding: 30px 18px;
  color: #db691b;
  font-size: 16px;
}

.navbar-default .navbar-brand {
  padding: 30px 18px;
  color: #db691b;
  background-image: url("../img/logo_80.png");
  background-repeat: no-repeat;
  background-position: 16px 0;
  padding-left: 109px;
}

#navbar {
  border-bottom: 1.5px solid #db691b;
}
.navbar-brand {
  font-size: 28px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  color: #af4c0f;
  cursor: pointer;
}

.fa-github {
  font-size: 18px;
}

/*End Nav Component*/

/*Sidebar & Main Content*/


#sidebar {
  width: 340px;
  height: 100%;
  position:fixed;
  left: 340px;
  overflow-y: scroll;
  margin-left: -340px;
}


.sidebar-header h3 {
  margin-top: 10px;
 
}

.sidebar-header .btn {
  margin-top: 10px;
}

#content {
  margin-left:340px;
  width:100%;
  height:100%;
}


/*End Sidebar & Main Content*/

/*Map*/
#map {
  height: 100%;
  width: calc(100% - 340px);
}
/*End Map*/

/*Map Overlays*/
.mapOverlay {
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  z-index: 10;
  position: absolute;
  min-width: 90px;
  background: rgba(230, 230, 230, 0.65);
  font-size: 15px;
}

.messageOverlay {
  border-radius: 0 0 10px 0;
}

.message-mini {
  font-family: 'Open Sans';
  font-size: 12px;
} 



/*spinkit*/
.spinner {
  width: 27px;
  height: 27px;
  position: relative;
  margin: 0px auto;

}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #db691b;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*end spinkit*/

/*End Map Overlays*/

/*Custom Carto Tooltip*/

.cartodb-tooltip .name {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

.cartodb-tooltip .message {
  font-family: 'Oswald', sans-serif;
  color: #db691b;
}

/*End Custom Carto Tooltip*/

/*Collapsible Menu Sidebar from http://www.bootply.com/G2XMjMr27Y*/

.caret-container {
  float: right;
}

.nav-container {
  background-color: #f5f5f5;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
  
.nav-sub-container {
  background-color: #f8f8f8;  
  font-weight: bold;
  cursor: pointer;
}

/*second tier indentation*/
div.nav-stacked>li>a {
  font-family: 'open sans', sans-serif;
  padding: 3px 15px 3px 40px;
}


/*third tier indentation*/
ul.nav-stacked ul.nav-stacked > li > a {
  font-family: 'open sans', sans-serif;
  padding: 3px 15px 3px 50px;
  font-size: 12px;
  cursor: pointer;
}

.nav-container {
   color: #101011;
   font-family: 'Oswald', sans-serif;
}



input[type=checkbox] {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
}

.group {
  position: relative;
}

.group input[type=checkbox] {
  top: 3px;
  left: 16px;
}

.subgroup input[type=checkbox]{
  top: 1px;
  left: 25px;
}


.nav>li>a {
  padding: 10px 15px 10px 36px;
}

.caret {
  border-top: 8px dashed;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.group .caret {
  border-top: 6px dashed;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.caret-container {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.nav-sub-container .caret-container {
  top: 3px;
  right: 11px;
}

/*End Collapsible Menu Sidebar*/


/*Modal*/

.modal-title {
  color: #d96b27;
}

.modal-body h5, {
  font-family: 'Oswald';
  font-size: 17px;
}

.modal-body h3 {
  font-family: 'Oswald';
}

.modal-body {
  font-family: 'open sans', sans-serif;
}

.modal-header, .modal-footer {
    background: #EBEBEB;
    color: #D96B27;
}

.modal-body .modal-label {
  font-family: oswald;
  font-size: 15px;  
}

/*End Modal*/

/*Jquery UI Range Slider Customization*/

.ui-rangeSlider-bar {
    background: #d96b27;
}
/*End Jquery UI Range Slider Customization*/

/*Beta Banner*/

body:after {
    content: "beta";
    position: fixed;
    width: 80px;
    height: 25px;
    background: #e7ff1e;
    top: 7px;
    left: -20px;
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #818181;
    line-height: 27px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 10000;
    border-bottom: 1px solid #b4b4b4;
    border-top: 1px solid #b4b4b4;
}

/*End Beta Banner*/

/*Homepage*/

.portfolio {
  margin-bottom: 30px;
}

.portfolio-item h3 a{
  color: #db691b
}

.portfolio-item h3 {
  margin-bottom: 15px;
}

.main-content {
  padding: 0;
  overflow: scroll;
}

.jumbotron {
  background-image: url(../img/nyc.jpg);
  background-size: cover;
  background-position-y: 25%;
  color: white; 
  text-shadow: 1px 1px 2px rgb(128, 128, 128);
  margin-bottom: 0;
}

.paragraphs {
  line-height: 23px;
  padding: 50px 300px;
  background-color: #d96b27;
  color: #fff;
  margin-bottom: 30px;
}



.paragraphs a {
  color: #FFF;
  text-decoration: none;
  border-bottom: 1.5px dashed #FFF;
}

.paragraphs a:hover {
  background: #ebebeb;
  color: #db691b;
  border-bottom: none;
}

.portfolio-image {
  display: block;
  max-width: 100%;
  height: 200px;
  width: 100%;
  background-size: cover;
  margin-bottom: 15px;
}

.footer {
  background: white;
  width: 100%;
  padding: 30px 15px;
  border-top: 3px solid #d96b27;
  color: #d96b27;
}

.footer-logo {
  background-image: url(../img/logo_80.png);
  background-repeat: no-repeat;
  background-position: 16px 0;
  height: 62px;
}

.footer ul {
  padding-left: 12px;
}

.footer li {
  list-style: none;
}
