body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
}

html, body, #main-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main-container {
  padding-top:80px;
}

.full-height {
  height:100%;    
  overflow-y: scroll;
}

.btn.dcp-orange {
  background-color: #d96b27;
  border-color: #d68a40;
  color: #FFF;
  min-width: 86px;
}

.dcp-orange {
  color: #d96b27;
}


.btn.dcp-orange:hover, .btn.dcp-orange:active  {
  background-color: #a5501b;
  border-color: #a5501b;
  color: #FFF;
}

.fa-info-circle {
  color: #d96b27;
}


.tooltip-inner {
  color: #464646;
  background-color: #ebebeb;
  text-align: left;
  font-size: 11px;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #ebebeb;
}

section {
  padding: 100px 0;
}

.bg-primary {
    background-color: #d96b27;
}

 hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    border-width: 3px;
    max-width: 50px;
    border-color: #fff;
}

.bg-primary p {
  font-size: 19px;
  color: #ececec;
}


/*Nav Component*/

nav {
  height: 80px;
  font-family: 'Oswald', sans-serif;
}

.navbar-default {
  background-color: rgba(255, 255, 255, 0.94);
}


ul.navbar-right {
    margin-right: 0;
}

.navbar-default .navbar-nav>li>a, .dropdown-menu>li>a {
  padding: 30px 18px;
  color: #db691b;
  font-size: 16px;
  font-weight: 300;
}

.dropdown-menu>li>a {
  padding: 3px 15px;
}

.dropdown-menu>li>a: hover {
  cursor: pointer;
}

.navbar-default .navbar-nav>li:hover{
  background: #eeeeee;
}

.navbar-default .navbar-brand {
  padding: 30px 18px;
  color: #db691b;
  background-image: url(/../img/logo_120.png);
  background-repeat: no-repeat;
  background-position: 16px 12px;
  background-size: 112px;
  padding-left: 142px;
  height: 100%;
}

#navbar {
  border-bottom: 0.5px solid rgba(219, 105, 27, 0);
}
.navbar-brand {
  font-size: 28px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  color: #af4c0f;
  cursor: pointer;
}

.fa-github {
  font-size: 18px;
}

/*End Nav Component*/

/*Sidebar & Main Content*/


#sidebar {
  box-sizing: border-box;
  width: 340px;
  height: 100%;
  overflow-y: scroll;
  float: left;
}


.sidebar-content h3 {
  margin-top: 10px;
 
}

.sidebar-content .btn {
  margin-top: 10px;
}

.sidebar-content {
  margin-bottom: 15px;
}

#content {
  margin-left:340px;
  width:100%;
  height:100%;
}


/*End Sidebar & Main Content*/

/*Map*/
#map {
  height: 100%;
  width: calc(100% - 340px);
}

.mapbox-improve-map {
  display: none;
}

.mapboxgl-map .mapboxgl-ctrl-top-right {
  top: 82px;
}
/*End Map*/

/*Map Overlays*/
.mapOverlay {
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  z-index: 10;
  position: absolute;
  min-width: 90px;
  background: rgba(230, 230, 230, 0.65);
  font-size: 15px;
}

.mapOverlay .btn {
  font-family: 'Open Sans', sans-serif;
}

.popup {
  font-family: 'Open Sans', sans-serif;
  z-index: 10;
  position: absolute;
  background: rgba(255,255,255,.9);
  font-size: 12px;
  padding: 0;
  -webkit-box-shadow: 1px 1px 2px 0px #bdbdbd;
  -moz-box-shadow: 1px 1px 2px 0px #bdbdbd;
  box-shadow: 1px 1px 2px 0px #bdbdbd;
  display: inline-table;
}

.popupRow {
  border-bottom: 0.5px solid rgba(234, 234, 234, 0.98);
  padding: 3px 6px;
}

.popupRow:last-child {
  border-bottom: none;
}

.popupRow:hover {
  background: #e4e4e4;
  cursor: pointer;
}

/*from http://enjoycss.com/gallery/shapes/gn*/
.popup .closeButton {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #db691b;
  border-radius: 10px;
  height: 15px;
  width: 15px;
  text-align: center;
  color: white;
  line-height: 15px;
  font-size: 9px;
}

.popup .closeButton:hover {
  cursor: pointer;
  background-color: #af4c0f;
}

.badge {
  min-width: 50px;
  margin-right: 10px;
  font-size: 10px;
  position: relative;
  top: -1px;
}

.messageOverlay {
  border-radius: 0 0 10px 0;
}

.message-mini {
  font-family: 'Open Sans';
  font-size: 12px;
} 

.legendItemText {
  font-family: 'Open Sans';
}

/*spinkit*/
.spinner {
  width: 27px;
  height: 27px;
  position: relative;
  margin: 0px auto;

}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #db691b;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*end spinkit*/

/*End Map Overlays*/

/*Custom Carto Tooltip*/

.cartodb-tooltip .name {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

.cartodb-tooltip .message {
  font-family: 'Oswald', sans-serif;
  color: #db691b;
}

/*End Custom Carto Tooltip*/

/*Override Carto Default Legend Styles*/

div.cartodb-legend.category ul li, div.cartodb-legend.color ul li, div.cartodb-legend.custom ul li {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-transform: initial;
    font-weight: 200;
    color: #333;
}

div.cartodb-legend.category ul li .bullet {
  width: 10px;
  height: 10px;
}


div.cartodb-legend-stack {
  display: block;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  z-index: 10;
  position: absolute;
  min-width: 90px;
  background: rgba(230, 230, 230, 0.65);
  font-size: 15px;
  bottom: 0;
  left: 0;
  right: initial;
  box-shadow: none;
  webkit-box-shadow: none;
  border: none;
  padding-bottom: 30px;
}

div.cartodb-legend .legend-title {
    font-family: 'Oswald', sans-serif;
    color: #333;
    font-size: 18px;
    font-weight:500;
    text-transform: capitalize;
}

div.cartodb-legend {
  padding: 0;
}

/*End Override Carto Default Legend Styles*/

/*Collapsible Menu Sidebar from http://www.bootply.com/G2XMjMr27Y*/

.caret-container {
  float: right;
}

.nav-container {
  background-color: #f5f5f5;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
  
.nav-sub-container {
  background-color: #f8f8f8;  
  font-weight: bold;
  cursor: pointer;
}

/*second tier indentation*/
div.nav-stacked>li>a {
  font-family: 'open sans', sans-serif;
  padding: 3px 30px 3px 40px;
}


/*third tier indentation*/
ul.nav-stacked ul.nav-stacked > li > a {
  font-family: 'open sans', sans-serif;
  padding: 3px 15px 3px 50px;
  font-size: 12px;
  cursor: pointer;
}

.nav-container {
   color: #101011;
   font-family: 'Oswald', sans-serif;
}



#stacked-menu input[type=checkbox] {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
}

.group {
  position: relative;
}

#stacked-menu .group input[type=checkbox] {
  top: 3px;
  left: 16px;
}



#stacked-menu .subgroup input[type=checkbox]{
  top: 1px;
  left: 25px;
}


.nav>li>a {
  padding: 10px 15px 10px 36px;
}

.caret {
  border-top: 8px dashed;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.group .caret {
  border-top: 6px dashed;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.caret-container {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.nav-sub-container .caret-container {
  top: 3px;
  right: 11px;
}

.filter-count {
  background-color: hsla(0, 0%, 86%, 0.86);
  padding: 7.5px;
  border-radius: 5px;
}

.nav-sub-container .fa {
    float: right;
    margin-top: 3px;
    border-color: #EBEBEB;
}

.subgroup .fa {
    float: right;
    margin-top: 2px;
    border-color: #EBEBEB;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #ebebeb;
}


/*End Collapsible Menu Sidebar*/


/*Modal*/

.modal-title {
  color: #d96b27;
}

.modal-body h5, {
  font-family: 'Oswald';
  font-size: 17px;
}

.modal-body h3 {
  font-family: 'Oswald';
}

.modal-body {
  font-family: 'open sans', sans-serif;
}

.modal-header, .modal-footer {
    background: #EBEBEB;
    color: #D96B27;
}

.modal-body .modal-label {
  font-family: oswald;
  font-size: 15px;  
}

.modal-dialog {
  width: auto;
  max-width: 900px;
}

.modal-logo {
  background-image: url(/../img/logo_80.png);
  height: 62px;
  width: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

/*End Modal*/

/*Jquery UI Range Slider Customization*/

.ui-rangeSlider-bar {
    background: #d96b27;
}
/*End Jquery UI Range Slider Customization*/

/*Beta Banner*/

body:after {
    content: "beta";
    position: fixed;
    width: 80px;
    height: 25px;
    background: #e7ff1e;
    top: 7px;
    left: -20px;
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #818181;
    line-height: 27px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 10000;
    border-bottom: 1px solid #b4b4b4;
    border-top: 1px solid #b4b4b4;
}

/*End Beta Banner*/

/*Homepage*/

.portfolio {
  width: 100%;
  padding:0;
}

.section-portfolio {
  padding: 0;
}

.portfolio-item {
  padding: 0;
  height: 380px;
}

.portfolio-item h3 a{
  color: #db691b
}

.portfolio-item h3 {
  margin: 0;
}

.portfolio-item .title {
  background-color: #d96b27;
  padding: 11px 20px;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  opacity: 0.9;
}

.portfolio-item .hover-panel {
  display: none;
  background-color: #d96b27;
  padding: 11px 20px;
  color: #fff;
  top: 60px;
  left: 60px;
  right: 60px;
  bottom: 60px;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  opacity: 0.9;
}

.portfolio-item .hover-panel h4{
line-height: 30px;
}

.portfolio-item:hover .hover-panel {
  display: block;
}

.portfolio-item:hover .title {
  display: none;
}

.hover-panel-explore {
  background: #FFF;
  color: #db691b;
  display: inline-block;
  padding: 10px 19px;
  opacity: 1;
}

.hover-panel-explore .fa {
  font-weight: 800;
  font-size: 24px;
  padding-left: 10px;
}

.portfolio-image {
  display: block;
  max-width: 100%;
  height: 100%;
  width: 100%;
  background-size: cover;
  margin-bottom: 15px;
  background-position-y: 50%;
  background-position-x: 50%;
}

.portfolio-item .fa-quote-left {
  font-size: 114px;
}

.building-image {
  height: 180px;
  margin-bottom: 14px;
  background-size: cover;
}

.building-item {
  background: #fff;
  margin-top: 100px;
}

.building-item h3{
  color: #d96b27;
}

.building-item p {
  color: #626262;
  font-size: 14px;
  min-height: 68px;
}

.blockquote {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  color: #9f9a9a;
}

.coming-soon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(217, 107, 39, 0.5);
  color: #fff;
  text-align: center;
}

.coming-soon p {
  text-transform: uppercase;
  font-size: 37px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.portfolio-item-quote h1{
  display: inline-block;
  position: relative;
  top: -28px;
  margin-left: 15px;
}


.main-content {
  padding: 80px 0 0 0;
  overflow: scroll;
}

.jumbotron {
  color: white;
  text-shadow: 1px 1px 2px rgb(128, 128, 128);
  margin-bottom: 0;
  min-height: calc(100vh - 80px);
  position: relative;
  padding: 0;
}

.jumbotron:before {
  background-image: url(/../img/nyc.jpg);
  background-size: cover;
  background-position-y: 25%;
  content: "";
  display: block;
  min-height: calc(100vh - 80px);
  
  -webkit-filter: opacity(70%);
  -moz-filter: opacity(70%);
  -o-filter: opacity(70%);
  -ms-filter: opacity(70%);
  filter: opacity(70%);
}

.jumbotron .container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.bg-primary a {
  color: #FFF;
  text-decoration: none;
  
}

.headline-section {
  background-color: #FFF;
  color: #d96b27;
}

.headline-section h2 {
  margin-bottom: 50px;
}

.headline-section p {
  color: #000;
}

.headline-section a {
  color: #8d8d8d;
}

.bg-primary a:hover {
  border-bottom: none;
  border-bottom: 1.5px dashed #FFF;
  cursor: pointer;
}



/*Footer inspired by https://www.engineyard.com/*/

.footer {
  background: #ececec;
  padding-top: 56px;
  padding-bottom: 56px;
  font-size: 14px;
  font-weight: 100;
}

.footer h4 {
  color: #d96b27;
  font-weight: 100;
}

.footer dl {
  border-right: 1px solid #8f8f8f;
  height: 200px;
}

.footer dt, .footer dd {
    line-height: 32px;
}

.footer dd a {
  color: #8f8f8f;
}

.footer dd a:hover {
  color: #464646;
}

.copyright {
  font-size: 11px;
}

.footer .social-icons li {
    border: 1px solid #696D7D;
    border-radius: 24px;
    width: 48px;
    height: 48px;
    position: relative;
    margin-right: 5px;
}

.footer .social-icons li a.twitter {
    top: 15px;
    left: 15px;
}

.footer .social-icons li a.facebook {
    top: 14px;
    left: 14px;
}

.footer .social-icons li a.github {
    top: 14px;
    left: 14px;
}

.footer .social-icons li a {
    position: absolute;
}

/*Captial Projects Explorer*/

.chart-menu {
  background-color: hsla(0, 0%, 86%, 0.86);
  padding: 7.5px;
  margin: 0 8px;
  border-radius: 6px;
}

.widget {
  background: white;
  border-radius: 18px 0;
  padding: 18px;
  margin-bottom: 12px;
  color: #D96B27;
}

.search {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}



.react-autosuggest__input {
  width: 450px;
  height: 40px;
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: none;
  -webkit-appearance: none;
}

.search ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.search li {
  padding: 8px 20px;
  font-size: 14px;
  border-bottom-right-radius: 10px;
}

.search li:hover {
  background: #EBF5FF;
  cursor: pointer;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 47px;
  width: 450px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.basemap {
    top: 0;
    right: 0;
    border-radius: 0 0 0 10px;
}

.legend {
    bottom: 0;
    left: 0;
    border-radius: 0 10px 0 0;
}

.colorBox {
  height: 20px;
  width: 20px;
  background-color: rgb(190, 186, 218);
  float: left;
  margin-right: 6px;
}

.dc-chart g.x text {
  /* -webkit-user-select: none; */
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
  text-anchor: end !important;
  transform: rotate(-45deg);
}

.widget .tick, .widget .domain {
    stroke-width: 0;
}

.widget .reset {
    display: inline;
    float: right;
}

#modalmap {
    height: 434px;
}

.managedby {
  font-size: 10px;
  display: inline-block;
}

.managedby-text {
  margin: 0 3px;
  display:inline-block;
}

.agencybadges {
  display: inline-block;
  margin-right: 5px;
  position: relative;
  top: -2px;
  margin-bottom: 9px;
}


/*End Capital Projects Explorer*/


/*Auth0 Lock*/
.auth0-lock.auth0-lock .auth0-lock-header {
  height: auto !important;
}

.auth0-lock.auth0-lock .auth0-lock-header-bg {
  height: 100% !important;
}
/*End Auth0 Lock*/


/*FacDB Content Selection / Landing Page*/

section.content-selection {
  padding: 10px 0;
}

.content-selection h3 {
  color: #d96b27;
  padding: 10px 0;
}

.content-selection h4 {
  color: #6e6e6e;
}

.content-selection .text-primary {
  color: rgb(217, 107, 39);
  text-shadow: 1px 2px #cfcfcf;
}

.content-selection .service-box {
  padding: 20px;
  height: 204px;
  border-radius: 6px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.content-selection .service-box:hover {
  background: #ececec;
}

.content-selection a:hover {
  text-decoration: none;
}





