.jane-container {
  border: 1px solid #efefef;

  #gl-map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 180px;
  }

  .mui-toolbar-container {
    padding: 6px 6px;
    position: absolute;
    z-index: 1;
    left: 200px;
  }

  .jane-drawer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    background: #fff;
  }

  .list-item {
    position: relative;
  }

}