// Overrides Bootstrap media query to collapse the nav bar
// avoids the conflict between the menu and the title

@media (max-width: 1010px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

// Collapse the subtitle (ex. 'Housing Development Pipeline') when the screen gets too small
@media (max-width: 630px) {
  .navbar-title .title {
    display: none;
  }
}

nav {
  height: 50px;
  margin-top: 21px;
  font-family: 'Oswald', sans-serif;
}

.navbar-default, .navbar-collapse.in, .navbar-collapse.collapsing{
  background-color: rgba(255, 255, 255, 0.94);
}

ul.navbar-right {
    margin-right: 0;
}

.navbar-default .navbar-nav>li>a, .dropdown-menu>li>a {
  padding: 15px 18px;
  color: #db691b;
  font-size: 16px;
  font-weight: 300;
}

.dropdown-menu>li>a {
  padding: 3px 15px;
}

.dropdown-menu>li>a:hover {
  cursor: pointer;
}

.navbar-default .navbar-nav>li:hover{
  background: #eeeeee;
}

.navbar-default .navbar-brand {
  background-image: url(/../img/logo_120.png);
  background-repeat: no-repeat;
  background-position: 16px 9px;
  background-size: 66px;
  height: 50px;
  width: 100px;
  padding: 0;
}

.navbar-title {
  float: left;
  color: #d96b27;
  font-size: 22px;
  line-height: 50px;
}

#navbar {
  border-bottom: 0.5px solid rgba(219, 105, 27, 0);
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  color: #af4c0f;
  cursor: pointer;
}

.fa-github {
  font-size: 18px;
}

.title {
  color: #959595;
  font-weight: 300;
}

@media screen and (max-width: 400px) {
  .navbar-title {
    font-size: 16px;
  }
}
