.manual-range-input {
  display: inline-block;

  .input-group {
    width: 130px;
    margin-bottom: 10px;
    text-align: center;
  }

  .form-control {
    padding: 4px 0;
    text-align: center;
  }

  input[type="submit"] {
    display: none;
  }

  input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
  }


}

.range-input {
  .pretty-number-range {
    font-size: 18px;
    font-weight: 800;
    text-align: center;

    .number {
      display: inline-block;
      width: 122px;;
    }

    .divider {
      width: 43px;
      border-bottom: 1px solid #d1d1d1;
      display: inline-block;
      position: relative;
      top: -6px;
    }
  }
}
