{
  parser: "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "rules": {
    "max-len": [1, 120, 2, {ignoreComments: true}],
    "react/prop-types": [2],
    "react/prefer-es6-class": [0],
    "react/jsx-no-bind": [0],
    "no-param-reassign": [0],
    "radix": [0],
  },
  "env": {
    "browser": true,
    "node": true
  },
}