/*FacDB Content Selection / Landing Page*/

.facilities-landing hr {
  border-color: #FFF;
}

.facilities-landing h2.section-heading {
  color: #FFF;
}

.facilities-landing h3.section-heading {
  color: '#d96b27';
  padding-bottom: 30px;
  font-size: 31px;
  font-weight: 400;
}

.header-area {
  color: #FFF;
}

.header-area a{
  color: #FFF;
  text-decoration: underline;
}

.header-area a:hover {
  color: #d2d2d2;
}



section.content-selection {
  padding: 10px 0;
}

.content-selection h3 {
  color: #d96b27;
  padding: 10px 0;
}

.content-selection h4 {
  color: #6e6e6e;
}

.content-selection .text-primary {
  color: rgb(217, 107, 39);
  text-shadow: 1px 2px #cfcfcf;
}

.content-selection .service-box {
  padding: 20px;
  height: 204px;
  border-radius: 6px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.content-selection .service-box:hover {
  background: #ececec;
}

.content-selection a:hover {
  text-decoration: none;
}
