.facility-page {
  h1, h2, h3, h5 {
    margin: 0;
  }

  .equal, .equal > div[class*='col-'] {
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
  }

  .row {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .panel {
    margin: 0;
    width: 100%;
  }

  .subtext {
    color: #b3b3b3;
    font-weight: 200;
    text-align: center;
  }

  .property-detail-container {
    display: flex;
    justify-content: space-between;
  }

  .property-detail-blocks {
    text-align: center;
    padding: 0 30px;
  }

  span.label {
    position: relative;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    margin-bottom: 10px;
  }

  li:last-child {
    margin-bottom: 0;
  }

  li.usage-list {
    position: relative;
    text-align: left;
  }

  .usage-list {
    h3 {
      display: inline-block;
    }

    h4 {
      display: inline-block;
      margin-left: 15px;
    }

    span.label {
      right: 10px;
      bottom: 3px;
    }
  }

  .source-data-details {
    span.label {
      bottom: 3px;
    }
  }

  .breadcrumb {
    margin: 0;
    padding: 0;
    background-color: white;

    li {
      margin: 0;
    }
  }
}

/*FacDB Content Selection / Landing Page*/

.facilities-landing {
  margin-top: 50px;

  .header-area {
    padding: 60px;
  }

  &:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background: url(/img/facilities_landing_background.png) no-repeat;
    background-size:cover;
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }

  hr {
    border-color: #FFF;
  }

  h1.section-heading {
    color: #FFF;
    padding-bottom: 20px;
    font-size: 46px;
  }

  h2.section-heading {
    color: #FFF;
  }

  h3.section-heading {
    color: '#d96b27';
    padding-bottom: 10px;
    font-size: 31px;
    font-weight: 400;
  }

  .subtitle {
    font-size: 20px;
  }

  .header-area {
    color: #FFF;
  }

  .header-area a{
    color: #FFF;
    text-decoration: underline;
  }

  .header-area a:hover {
    color: #d2d2d2;
  }

  section.content-selection {
    padding: 10px 0;
  }

  .content-selection h3 {
    color: #d96b27;
    padding: 10px 0;
  }

  .content-selection h4 {
    color: #6e6e6e;
  }

  .content-selection .text-primary {
    color: rgb(217, 107, 39);
    text-shadow: 1px 2px #cfcfcf;
  }

  .content-selection .service-box {
    padding: 20px;
    height: 204px;
    border-radius: 6px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .content-selection .service-box:hover {
    background: #ececec;
  }

  .content-selection a:hover {
    text-decoration: none;
  }

  .Select {
    text-align: left;
  }

  .select-container {
    padding-top: 20px;

    .btn {
      min-width: auto;
      position: absolute;
      right: 16px;
      top: 21px;
    }
  }

  .splash-trio {
    display: flex;
    text-align: left;
    color: #333;

    .btn {
      text-align: left;
      position: relative;
    }

    .all-link {
      .btn {
        font-size: 20px;
      }

      a { height: 100%; }

      i {
        right: 12px;
        bottom: 6px;
        position: absolute;
      }
    }

    .neighborhood-link {
      .neighborhood-text {
        background-color: white;
        font-size: 20px;
        height: calc(100% - 35px);
        padding: 6px 12px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-top: 1px solid rgb(204, 204, 204);
        border-right: 1px solid rgb(204, 204, 204);
        border-left: 1px solid rgb(204, 204, 204);
      }

      .Select {
        font-size: 14px;
        z-index: 99;
        display: inline-block;
        width: calc(100% - 36px);
      }

      .Select-control {
        border: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-left: 1px solid rgb(204, 204, 204);
        border-bottom: 1px solid rgb(204, 204, 204);
      }

      .neighborhood-arrow {
        width: 36px;
        height: 36px;
        display: inline-block;
        background-color: white;
        border-bottom-right-radius: 4px;
        vertical-align: top;
        position: relative;
        border-right: 1px solid rgb(204, 204, 204);
        border-bottom: 1px solid rgb(204, 204, 204);

        &:hover {
          background-color: #e6e6e6;
        }
      }

      i {
        font-size: 20px;
        right: 12px;
        bottom: 6px;
        position: absolute;
      }
    }

    .preset-link {
      i {
        right: 6px;
        position: absolute;
        font-size: 20px;
      }
    }

    .box {
      width: 33%;
      padding: 15px;

      a {
        color: black;
        text-decoration: none;
        width: 100%;
      }
    }
  }
}
