.facility-page {
  h1, h2, h3, h4, h5 {
    margin: 0;
  }

  .equal, .equal > div[class*='col-'] {
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
  }

  .row {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .panel {
    margin: 0;
    width: 100%;
  }

  .subtext {
    color: #b3b3b3;
    font-weight: 200;
    text-align: center;
  }

  .property-detail-container {
    display: flex;
    justify-content: space-between;
  }

  .property-detail-blocks {
    text-align: center;
    padding: 0 30px;
  }

  span.label {
    position: relative;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    margin-bottom: 10px;
  }

  li:last-child {
    margin-bottom: 0;
  }

  li.usage-list {
    position: relative;
    text-align: left;
  }

  .usage-list {
    h3 {
      display: inline-block;
    }

    h4 {
      display: inline-block;
      margin-left: 15px;
    }

    span.label {
      right: 10px;
      bottom: 3px;
    }
  }

  .source-data-details {
    span.label {
      bottom: 3px;
    }
  }

  .breadcrumb {
    margin: 0;
    padding: 0;
    background-color: white;

    li {
      margin: 0;
    }
  }
}

/*FacDB Content Selection / Landing Page*/

.facilities-landing {
  margin-top: 50px;

  .header-area {
    padding: 60px;
  }
}

.facilities-landing:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background: url(/img/facilities_landing_background.png) no-repeat; 
  background-size:cover;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.facilities-landing hr {
  border-color: #FFF;
}

.facilities-landing h2.section-heading {
  color: #FFF;
}

.facilities-landing h3.section-heading {
  color: '#d96b27';
  padding-bottom: 30px;
  font-size: 31px;
  font-weight: 400;
}

.header-area {
  color: #FFF;
}

.header-area a{
  color: #FFF;
  text-decoration: underline;
}

.header-area a:hover {
  color: #d2d2d2;
}

section.content-selection {
  padding: 10px 0;
}

.content-selection h3 {
  color: #d96b27;
  padding: 10px 0;
}

.content-selection h4 {
  color: #6e6e6e;
}

.content-selection .text-primary {
  color: rgb(217, 107, 39);
  text-shadow: 1px 2px #cfcfcf;
}

.content-selection .service-box {
  padding: 20px;
  height: 204px;
  border-radius: 6px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.content-selection .service-box:hover {
  background: #ececec;
}

.content-selection a:hover {
  text-decoration: none;
}
