.splash-selector {
  width:100%;
  background: white;
  margin: 18px 0 18px 0;
  text-align: initial;
  position: relative;
  height: 725px;

  .content-area {
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
    height: 100%;
    position: absolute;
    width: 50%;
    overflow: scroll;
  }

  .hidden {
    display: none;
  }
}