
.facilities-filter {
  .toggle-expand {
    padding: 0 15px;
    font-size: 15px;

    .checkbox-container {
      display: inline-block;
      margin-left: 6px;
      margin-right: 10px;
      position: relative;
      top: 0px;
    }
  }

  .expand-collapse {
    float: right;
    cursor: pointer;
  }

  .expand-collapse span:hover {
    text-decoration: underline;
  }

}

