.cb-budget-request-page {
  h1, h2, h3, h4 {
    margin: 0;
  }

  .badge {
    font-size: 14px;
    margin-right: 5px;
  }

  .panel-heading {
    .badge {
      margin: 0;
      font-size: 14px;
      color: white;
      margin-left: 5px;
    }
  }
}
