.nested-select {
  input[type=checkbox] {
    position: absolute;
    top: 11px;
    left: 12px;
    margin: 0;
  }

  /*override mui styles for listitem*/
  button {
    padding: 0 !important;
    height: 36px !important;
    width: 36px !important;

    svg {
      height: 36px !important;
    }
  }

  .subgroup {
    input[type=checkbox] {
      top: 5px;
    } 

    .fa {
      right: 8px;
      top: 6px;
    }
  }

  label {
    font-weight: 300;
    border-radius: 2px;
  }

  p {
    margin: 0;
  }

  .fa {
    position: absolute;
    right: 34px;
    top: 9px;
  }
}