body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
}

::-webkit-scrollbar {
  width: 0px !important;
}

.full-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  margin-top: 50px;
  overflow: hidden;
}

.fluid-content {
  padding: 0;
  margin-top: 80px;
}

.btn.dcp-orange {
  background-color: #d96b27;
  border-color: #d68a40;
  color: #FFF;
  min-width: 86px;
}

.dcp-orange {
  color: #d96b27;
}

.btn.dcp-orange:hover, .btn.dcp-orange:active  {
  background-color: #a5501b;
  border-color: #a5501b;
  color: #FFF;
}

.fa-info-circle {
  color: #d96b27;
}

.tooltip-inner {
  color: #464646;
  background-color: #ebebeb;
  text-align: left;
  font-size: 11px;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #ebebeb;
}

section {
  padding: 100px 0;
}

.bg-primary {
  background-color: #ccc;
  color: #636363;
}

.bg-primary p {
  font-size: 19px;
  color: #636363;
}


/*Sidebar & Main Content*/

#sidebar {
  box-sizing: border-box;
  width: 340px;
  height: 100%;
  overflow-y: scroll;
  float: left;
}

.sidebar-content h3 {
  margin-top: 10px;
}

.sidebar-content .btn {
  margin-top: 10px;
}

.sidebar-content {
  margin-bottom: 15px;
}

#content {
  width:100%;
  height:100%;
}

/*End Sidebar & Main Content*/

.dl-horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 10px;
}

/*Beta Banner*/

body:after {
    content: "beta";
    position: fixed;
    width: 80px;
    height: 25px;
    background: #e7ff1e;
    top: 7px;
    left: -20px;
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #818181;
    line-height: 27px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 10000;
    border-bottom: 1px solid #b4b4b4;
    border-top: 1px solid #b4b4b4;
}

/*End Beta Banner*/


/*Jquery UI Range Slider Customization*/

.ui-rangeSlider-bar {
    background: #d96b27;
}

/*End Jquery UI Range Slider Customization*/


/* CountWidget */

.countWidget {
  .bigNumber {
    font-size:20px;
    font-weight: bold;
  }
}

/* End CountWidget */


.background-enter {
  transform: translate(100%);
}
.background-enter.background-enter-active {
  transform: translate(0%);
  transition: transform 250ms ease-in-out;
}
.background-leave {
  transform: translate(0%);
}
.background-leave.background-leave-active {
  transform: translate(100%);
  transition: transform 250ms ease-in-out;
}


/*Display Pages*/
.display-content {
  padding-top: 20px;
}

.display-header {
  margin-bottom: 20px;
}

.display-subtitle {
  display: inline-block;
  font-size: 20px;
}

/*Sidebar Tabs, Overrides Material-UI*/
.sidebar-tabs > div:first-child {
  height:30px;

  button > div > div {
    height: 30px !important;
    font-size: 12px;
  }
}

.sidebar-tab-content {
  font-family: 'roboto', sans-serif;
  padding: 0 16px;
  font-size: 12px;

  h4 {
    font-family: 'roboto', sans-serif;
    color: rgba(0, 0, 0, 0.541176);
    font-size: 14px;
    font-weight: 500;
    margin: 16px 0;
  }
}
/*End Sidebar Tabs*/
