.feedback-page {

  .feedback-item {
    padding: 10px;
  }

  .meta {
    top: 0;
    left: 0;
    display: inline-block;

    .avatar {
      height:40px;
      width:40px;
      float: left;
      background: #cdcdcd;

      .fa {
        font-size: 30px;
        position: absolute;
        top: 14px;
        left: 19px;
        color: #868686;
      }
    }

    .email {
      margin-left: 50px;
      font-weight: 800;
    }

    .created-at {
      margin-left: 50px;
      color: #7f7e7e;
      font-size: 12px;
    }
  }

  .comment {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .item {
    border-top: 1px solid #f3f3f3;
    font-size: 12px;
    padding-top: 10px;
  }
}