.mui-toolbar {
  background-color: #fff;

  button {
    z-index: 1;
  } 

  .react-autosuggest__input {
    border: none;
    font-size: 14px;
    font-weight: 600;
    width: 265px;
    padding: 10px 0 10px 20px;
  }

}

.mui-toolbar-container {
  padding: 18px;
  position: absolute;
  z-index: 1;
}

.mapDrawer>div {
  padding-top:80px;
}