.projects-table {

  // Override FixedDataTable Styles
  .public_fixedDataTable_main {
    float: right;
    border: none;
  }

  .fixedDataTableCellLayout_main {
    border-right-style: none;
  }

  .fixedDataTableCellGroupLayout_cellGroup {
    border-bottom: 1px solid #ddd;
  }

  .public_fixedDataTableRow_highlighted, .public_fixedDataTableRow_highlighted, .public_fixedDataTableCell_main {
    background-color: transparent;

    .header-fa {
      padding-left: 5px;
    }
  }



  .fixedDataTableRowLayout_main:hover {
    background-color: #FAFAFA;
  }

  .public_fixedDataTable_header, .public_fixedDataTable_header .public_fixedDataTableCell_main {
    background-color: #FFF;
    background-image: none;
  }
  // End Override FixedDataTableStyles

  .row {
    margin-top: 20px;
  }

  .fa-minus, .fa-map-marker {
    margin-left: 11px;
  }

  .match {
    line-height: 34px;
  }

  .sidebar {
    width:320px;
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;

    border-right: 1px solid #ddd;

    .sidebar-tabs {
      top: 0;
    }
  }
}
