/*browser location*/
/*Based on https://jsfiddle.net/mandynicole/7xrKP/*/
.location-ring-container{
  position: absolute;
  z-index:1000;
}

.location-ring-animated {
  width: 40px;
  height: 40px;
  position: relative;
  left: -20px;
  top: -20px;
  margin: 0 auto;
  background-color: #FF9800;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.4s infinite ease-in-out;
  animation: sk-scaleout 1.4s infinite ease-in-out;
}

.location-ring-fixed {
  width: 10px;
  height: 10px;
  position: absolute;
  left: -5px;
  top: -5px;
  background-color: #FF9800;
  border-radius: 100%;  
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
